@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600;700&display=swap');

body{
	margin:0;
	font-family: 'Poppins', sans-serif;
}
*{
	box-sizing: border-box;
	margin: 0;	
}

.contain
{
	max-width: 1140px;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* header */
header{
	position: absolute;
	left: 0px;
	right: 0px;
	padding: 10px 15px;
}
header .row{
	align-items: center;
	position: absolute;
}

header .brand a{
	text-decoration: none;
	font-size: 25px;
	font-weight: 600;
	color: #fff;
    text-transform: uppercase;
	position: relative;
 }
header .brand a:before{
	content:' ';
	height: 3px;
	background-color:#fff;
	width :100%;
	position: absolute;	
	left: 0px;
	bottom: 0px;
}
header .navbar{
	float: right
}
header ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
header ul li
{
	display: inline-block;
	margin-left: 35px;
}
header ul li a{
	font-size: 15px;
	text-decoration: none;
	line-height: 50px;
	color: #fff;
	font-weight: 600;
	position: relative;
}
header .navbar ul li a::before{
	content:' ';
	height: 3px;
	background-color:#fff;
	width :0%;
	position: absolute;	
	left: 0px;
	top:200%;
	transition: all 0.7s ease;
}
header .navbar ul li a:hover::before{
    width: 100%;
	background-color:#fff;
}
header .navbar ul li a.active::before{
    width: 100%;
	background-color:#fff;
}
/* Home */
.home{
	min-height: 100vh;
	background-image: url("https://wallpaperplay.com/walls/full/2/5/2/282509.jpg");
	background-position: center;
	background-size: cover;
}
.home .full-screen{
	min-height: 100vh;
}
.home .home-content{
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center; 
	justify-content: center;
}

.home .home-content .block{
	flex:0 0 75%;
	max-width: 75%;
	border-left: 5px solid #fff;
}
.home .home-content h1{
	color: #fff;
	font-size: 38px;
   font-weight: 600;
   margin:0;
   padding:0;
}
.home .home-content h6{ 
   color:#fff;
   font-size: 18px;
   font-weight: 400;
   margin:0;
   padding:0;
}
.home .home-content .btn {
	color: #fff;
	padding: 10px 10px;
}
.home .home-content .btn a{
	color: #fff;
	border: 1px solid #fff;
	border-radius: 4px;
	padding:12px 0 0 0;
	text-decoration: none;
	font-weight: 500;
	font-size: 30px;
	display: inline-block;
	transition: all 0.8s ease;
	background-color: transparent;
	
}
.home .home-content .btn a:hover{
     background-color: #fff;
	 color: #000;
}

/*about*/

.about{
	padding:100px 57px;
}

.about .section-title h1:before{
	content:'';
	left:0;
	right: 0px;
	position: absolute;
	background-color:#febd01;
	height: 5px;
	bottom:0;
}
.about .section-title h1{
	text-transform: uppercase;
	font-size: 20px;
	position: relative;
	color: #00000;
	display: inline-block;
	margin:0;
}


.about .section-title p{
	padding: 5px;
	display: block;
	padding-bottom: 10px;
}
.about  .about-content{
	display: flex;
}
.about .about-content .img{
	flex: 0 0 33.33%;
	max-width: 33.33%;
}
.about .about-content .img img{
	height: 500px;
	width: 100%;
	display: block;
}
.about .about-content .text{
	 flex: 0 0 66.66%;
	max-width: 66.66%;
	padding-left: 20px;
}
.about .about-content .text .info ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top:20px;
}
.about .about-content .text .info .list{
	flex:0 0 calc(50% - 15%);
	max-width: calc(50% - 15%);
	padding-bottom: 2px;
}
.skills .skill-title{
	padding-top:20px;
	padding-bottom:10px;
}
.skills .skill-content progress{
	width:70%;
}
